<div class="header-con-head">
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>
    <div class="footer-con-header">
      <div class="footer-tx2-bound">
            <!-- <div align = "center"> -->
              <!-- <a>
              <%# <%= link_to "about", class:"title" %><br>
              <%# <%= link_to "delivery", class:"title" %>
              </a> -->
            <!-- </div> -->
        <div class = "footer-copyright text-center py-3 ">© 2020 Analyzer-GHD:
          <strong>RoR</strong><br>
          <!-- <i class = "fab fa-facebook" ></i>
          <i class = "fab fa-github"></i>
          <i class = "fab fa-telegram"></i> -->
        </div>
      </div>
    </div>
</div>
