<nav class = "navbar fixed-top navbar-expand-lg navbar-dark h-30 color menu-con-bar ">
  
  <%= link_to " ", root_path, class: "fab fa-audible menu-con-icon"%>

  <ul class = "navbar-nav mr-auto">
    <li class = "nav-item active"></li>
  </ul>

  <form class = "form-inline">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class = "navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link"
               id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
            </a>
        </li>
        <% if current_user %>
          <%= link_to "Выйти", destroy_user_session_path, method: :delete, class:'menu-btn-select'%>
        <% else %>
          <%= link_to "Войти", new_user_session_path, class:' menu-btn-select'  %>
          <%= link_to "Зарегистрироваться", new_user_registration_path, class:'menu-btn-select'%>
        <% end %>
      </ul>
    </div>
  </form>
</nav>
