<%= form_with(model: @parser_site, local: true) do |form| %>

  <div class = "field">
    <strong><%= form.label :"Url:"%></strong>
    <%= form.text_field :url, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit :Done, class: "btn btn-warning btn-sm"  %>
  </div>
    <p></p>
<% end %>
