<div class="area">
  <p id="notice"><%= notice %></p>
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>
    <div class="container_1">
      <div class="main">
        <div class="main1">
          <div class="circle"></div>
        </div>
      </div>
      <div class="landing-btn position1">
        <%= link_to "Map", new_place_path, class:"landing-btn"%>
      </div>
    </div>
</div >

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
