<div class="area">
  <br><br>
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
    </ul>
    <div class="container_1">
      <div class="main">
        <div class="circle"></div>
      </div>
      <div class="landing-btn-parser position">
        <%= link_to "Parser", new_parser_site_path, class:"landing-btn-parser "%>
      </div>


      <div class="landing-btn position1">
        <%= link_to "Map", root_path, class:"landing-btn"%>
      </div>
    </div>
</div >







<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
